<!DOCTYPE html>
<html lang="en">
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Добавить дом</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{message}}
            <p>
                {{ form.realtor.label }}<br>
                {{ form.realtor(class="form-control") }}<br>
                {% for error in form.realtor.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.house.label }}<br>
                {{ form.house(class="form-control") }}<br>
                {% for error in form.house.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.not_solded_flats.label }}<br>
                {{ form.not_solded_flats(class="form-control") }}<br>
                {% for error in form.not_solded_flats.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.address.label }}<br>
                {{ form.address(class="form-control") }}<br>
                {% for error in form.address.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.cost.label }}<br>
                {{ form.cost(class="form-control") }}<br>
                {% for error in form.cost.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.photo.label }}
                {{ form.photo(class="form-control") }}
                {% for error in form.photo.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
        {% endblock %}
    </body>
</html>