<!DOCTYPE HTML>
<html>
    <body>
        {% extends "base.html" %}
        {% block content %}
                <h1 class='text-center'>Квартиры на продажу</h1>
                <p>Сортировка</p>
                <form method="post">
                    <p><select autofocus name="sort-by">
                        <option value='name'>дата добавления</option>
                        <option value='cost'>стоимость</option>
                        <option value='flats'>свободные квартиры</option>
                    </select><select name='sort'>
                        <option value='up'>по возрастанию</option>
                        <option value='down'>по убыванию</option>
                    </select></p>
                    <input type='submit' value="Фильтровать">
                </form><br>
                {% if current_user.is_authenticated and (current_user.is_realtor == True or current_user.id == 1) %}
                    <a href="add_realty" class="btn btn-secondary">Добавить дом</a><br>
                {% endif %}
                {% for realty in realties %}
                    <a href="/realty/{{realty.id}}">Дом №{{realty.id}}</a>
                    <table class='table table-bordered'>
                        <thead class="thead-light">
                            <tr>
                                {% if realty.photo %}
                                    <th scope="col">Фото</th>
                                {% endif %}
                                <th scope="col">Свободных квартир</th>
                                <th scope="col">Адрес</th>
                                <th scope="col">Средняя стоимость квартиры(руб.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if realty.photo %}
                                    <td>
                                        <img src={{realty.photo}} width=100>
                                    </td>
                                {% endif %}
                                <td>
                                    {{realty.not_solded_flats}}
                                </td>
                                <td>
                                    {{realty.address}}
                                </td>
                                <td>
                                    {{realty.cost}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == realty.realtor) %}
                        <div>
                            <a href="/edit_realty/{{ realty.id }}" class="btn btn-warning">Изменить</a>
                            <a href="/realty_delete/{{ realty.id }}" class="btn btn-danger">Удалить</a>
                        </div>
                    {% endif %}
                {% endfor %}
        {% endblock %}
    </body>
</html>
